@model IEnumerable<Somativa.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create" class="btn btn-success m-2"><svg bootstrap-icon="Pencil" width="16" height="16" aria-label="Editar"></svg>
        Nova Compra
    </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td class="text-end">
                    <a asp-action="Edit" class="btn btn-primary m-2" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="Pencil" width="16" height="16" aria-label="Editar"></svg>
                        Editar
                    </a>
                    <a asp-action="Details" class="btn btn-warning m-2" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="InfoCircle" width="16" height="16" aria-label="Mais"></svg>
                        Detalhes
                    </a>
                    <a asp-action="Delete" class="btn btn-danger m-2" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="Trash" width="16" height="16" aria-label="Deletar"></svg>
                        Excluir
                    </a>
                    <a asp-action="Index" asp-controller="CompraItems" class=" btn btn-primary m-2" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="PlusCircle" width="16" height="16" aria-label="Itens"></svg>
                        Itens
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
